/build/
/nbproject/private/
/build/
/dist/
nbproject/jfx-impl.xml
nbproject/UPDATED.TXT
nbproject/jfx-impl_backup_3.xml

/WMS.iml
/.directory
/.idea/kotlinc.xml
/.idea/vcs.xml
/.idea/libraries/sqljdbc42.xml
/.idea/compiler.xml
/.idea/misc.xml
/.idea/modules.xml
/nbproject/